@{
    ViewBag.Title = "Home Page";
}

<style>
    .btn-pdf{
        margin-left: 15px;
    }
</style>

<div class="row">
    <div class="col-xs-12">
        <h1>Datatables</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@section scripts {

    <script>
        var Datatables = null;

        $(function () {

            Datatables = $('#example').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "@Url.Action("GetDTData", "Home")",
                    "type": "POST"
                },
                "columns": [
                    { "data": "first_name" },
                    { "data": "last_name" }
                ],
                "columnDefs": [{
                    "targets": 2, //it's an 0 index
                    "data": null,
                    "defaultContent": "<button class='btn btn-default btn-edit'><i class='glyphicon glyphicon-edit'></i> Edit</button>"
                }],
                "dom": 'lfrt<"pdf-button">ip',
                //,"dom": 'frtip<"pdf-button">'
            });

            $(document).on("click", ".btn-edit", function () {

                var _this = $(this);

                //this gets the current datatables' row
                var tr = Datatables.row(_this.parents('tr'));
                var data = tr.data();

                alert('First Name: ' + data.first_name);

            });

            //http://stackoverflow.com/a/11453003
            $("<button class='btn btn-default btn-pdf'><i class='glyphicon glyphicon-file'></i> PDF</button>").appendTo('div.dataTables_filter');

            $(".btn-pdf").on('click', function () {
                alert('pdf clicked');
            });
        });
    </script>

    <script src="~/Content/datatables/js/jquery.dataTables.js"></script>
}